.big-button{
    background: $purple;
    border: none;
    border-bottom: 0.6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    width: 100%;
    margin-bottom: 1.6rem;
    padding: 2rem;
    cursor: pointer;
}

.big-button:disabled{
    opacity: 0.5;
}

.button{
    background: $purple;
    border: none;
    border-bottom: 0.2rem solid darken($purple, 10%);
    color: white;
    font-weight: 500;
    padding: 10px;
}